.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}

.loginImage {
  width:150px;
  height:150px;
  align-self:center;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
}